<!DOCTYPE html>
<html>

<%- include('../partials/head') %>

    <body>

        <!-- No tocar -->


        <div class="page-container">

            <%- include('../partials/header') %>

                <div class="main-content">
                    <!-- No tocar hasta acá -->

                    <!-- ***** Esta parte se DEBE EDITAR ***** -->
                    <div class="faq-content">
                        <h1 class="faq-item">
                            Preguntas Frecuentes
                        </h1>

                        <% faqs.forEach( faq=> { %>
                            <article class="faq-item">
                                <h2>
                                    <%- faq.question %>
                                </h2>
                                <p>
                                    <%- faq.answer %>
                                </p>
                            </article>
                            <% } ) %>
                    </div>


                </div>


                <%- include('../partials/footer') %>
        </div>

    </body>

</html>