<!DOCTYPE html>
<html>
  <%- include('../partials/head') %>

  <body>
    <!-- No tocar -->

    <div class="page-container">
      <%- include('../partials/header') %>

      <div class="main-content">
        <!-- No tocar hasta acá -->

        <!-- ***** Esta parte se DEBE EDITAR ***** -->

        <!-- Acá va el contenido de la página -->

        <main class="homemain">
          <!-- <h1 class="homeh1-measure"> - Envios Gratis en compras superiores a $10.000 - Hasta 6 cuotas sin interes
                    - </h1> -->
          <div class="home-promos">
            <h1 class="homeh1-measure">
              - Envios Gratis en compras superiores a $10.000 -
            </h1>
            <h1 class="home-info-cuotas">- Hasta 6 cuotas sin interes -</h1>
          </div>

          <!-- CATEGORIAS - por ahora, fijas -->
          <section class="homecontenedor-section">
            <article class="homearticle-1">
              <a href="/product/remeras/search" name="remeras">
                <img src="img/homeremeras.jpg" alt="section-remeras"
              /></a>
            </article>
            <article class="homearticle-1">
              <a href="/product/buzos/search" name="buzos">
                <img src="img/homebuzos.jpg" alt="section-buzos"
              /></a>
            </article>
            <article class="homearticle-1">
              <a href="/product/skates/search" name="Skates">
                <img src="img/homeskate.jpg" alt="section-skates"
              /></a>
            </article>
          </section>


          <!-- Seccion de ofertas -->
          <section class="homecontenedor-section2">
            <article class="home-tamañorelasub">
              <h2>Envios gratis a todo el pais</h2>
              <a href="/carrodecompras.html" name="section2a">
                <h3>En compras superiores a $10.000</h3>
              </a>
            </article>

            <article class="home-tamañorelasub">
              <h2>Hasta 6 cuotas sin interés</h2>
              <a href="/carrodecompras.html" name="section2b">
                <h3>En todos los productos!</h3>
              </a>
            </article>

            <article class="home-tamañorelasub">
              <h2>Devoluciones gratuitas</h2>
              <a href="/regund-policy.html" name="section2a">
                <h3>Ingresa aca para mas info</h3>
              </a>
            </article>
          </section>


        <!-- Productos - Seccion = ELEGIDOS -->
          <section>
            <h2 class="homeh2-measure">Nuestros elegidos de la semana</h2>
            <div class="homecontenedor-section3">
              <% products.filter(product => product.section.includes("ELEGIDOS")
              ).forEach( product => {%>
              <article class="art-imganddesc">
                <a href="/product/<%= product.id %>/productDetail">
                  <img
                    src="/img/<%= product.image %>"
                    alt="<%= product.name %>"
                  />
                  <div class="homedetalle-producto">
                    <h4 class="hometitulo"><%= product.name %></h4>
                    <a href="/product/carrodecompras" name="section3a">
                      <p class="homesubtitulo">Agregar al carrito</p>
                    </a>
                  </div>
                </a>
              </article>
              <%})%>

            </div>
          </section>
        </main>

        <!-- ***** Hasta acá se puede EDITAR ***** -->
      </div>

      <!-- No tocar -->

      <%- include('../partials/footer') %>

      <!-- No tocar hasta acá -->
    </div>
  </body>
</html>
