<!DOCTYPE html>
<html>

    <%- include('../partials/head') %>


<body>

    <!-- No tocar -->


    <div class="page-container">

        <%- include('../partials/header') %>

        <div class="main-content">
            <!-- No tocar hasta acá -->


            <!-- ***** Esta parte se DEBE EDITAR ***** -->

            <main>

                <div>
                    <ul id="errores"> </ul>
                </div>                    

                <% if (locals && locals.user && !locals.readOnly) { %>
                    <!-- Si hay un usuario, se hace PUT: -->
                    <form action="/user/<%= user.id %>?_method=PUT" method="POST" class="reg-form" enctype="multipart/form-data">
                <% } else {%>
                        <!-- Si no hay usuario, se hace POST -->
                        <% if (locals && locals.backToList) {%>
                            <form action="/user/created" method="POST" class="reg-form" enctype="multipart/form-data">
                        <% } else { %>
                            <form action="/user" method="POST" class="reg-form" enctype="multipart/form-data">
                        <% } %>
                <% } %>


                    <% if (locals && locals.user) { %>

                        <% if (locals.readOnly) { %>
                            <h1>Tus datos</h1>
                        <% } else {%>
                            <h1>Modificá tus datos</h1>
                        <% } %>


                    <% }  else { %>
                        <h1>Creá tu cuenta</h1>
                    <% } %>
                    

                    <input type="text" class="reg-form-item" name="firstName" id="firstName" placeholder="Nombre" value = "<%= locals.user && user.firstName %>" <% if (locals && locals.readOnly) {%> readonly <% } %>   >
                    <input type="text" class="reg-form-item" name="lastName" placeholder="Apellido" value = "<%= locals.user && user.lastName %>" <% if (locals && locals.readOnly) {%> readonly <% } %>  required >
                    <input type="email" class="reg-form-item" name="email" placeholder="E-Mail"  value = "<%= locals.user && user.email %>" <% if (locals && locals.readOnly) {%> readonly <% } %>  required>
                    <label class="reg-label reg-form-item" for="birthDate" name="birthDate1">Fecha de nacimiento</label>
                    <input type="date" class="reg-form-item" name="birthDate" id="birthDate" placeholder=""
                            value = "<%= locals.user && user.birthDate %>"  required>
                    <input type="text" class="reg-form-item" name="address" placeholder="domicilio"  value = "<%= locals.user && user.address %>" <% if (locals && locals.readOnly) {%> readonly <% } %>  required>
                    
                    <label for="avatar" class="reg-label reg-form-item">Avatar</label>
                    <% if (locals.user && user.avatar) { %> 
                        <img class="profile-img" name="imgprofile" src="/img/users_avatars/<%= user.avatar %>">
                    <% } %>
                    <input type="file" id="avatar" name="avatar" class="reg-form-item"><br>
						

                    <% if (!locals.readOnly) { %>
                        <label class="reg-label reg-form-item">Contraseña</label>

                        <% if (locals && locals.user) { %>
                            <p>(Dejar vacío para no modificar)</p>
                        <% }  %>
                        <input type="password" class="reg-form-item" name="password" placeholder="Contraseña" <% if (!locals.user) {%> required <% } %>>
                        <input type="password" class="reg-form-item" name="password_repeated"
                        placeholder="repetir contraseña" <% if (!locals.user) {%> required <% } %>>

                        <button type="submit" class="reg-form-item btn-submit">Enviar</button>                      
                        <button type="reset" class="reg-form-item btn-reset">Limpiar</button>
                    <% } %>

                </form>


            </main>


            <!-- ***** Hasta acá se puede EDITAR ***** -->

        </div>


        <%- include('../partials/footer') %>

    </div>

 <script src="/js/register.js"></script>

</body>

</html>
