<!DOCTYPE html>
<html>

    <%- include('../partials/head') %>


<body>

    <!-- No tocar -->


    <div class="page-container">

        <%- include('../partials/header') %>

        <div class="main-content">
            <!-- No tocar hasta acá -->


            <!-- ***** Esta parte se DEBE EDITAR ***** -->

            <main>
                <form action="/register" method="POST" class="reg-form">
                    <h1>Creá tu cuenta</h1>



                    <% if (locals && locals.user) { %>
                        <p> <%= user.id %> </p>
                    <% }  else { %>
                        <p>Sin Usuario</p>
                    <% } %>
                    

                    <input type="text" class="reg-form-item" name="apellido" placeholder="Nombre y apellido" value = "<%= locals.user && user.apellido %>"  required>
                    <input type="text" class="reg-form-item" name="usuario" placeholder="Usuario" required>
                    <input type="email" class="reg-form-item" name="email" placeholder="E-Mail" required>
                    <label class="reg-label reg-form-item" for="fecha-nacimiento">Fecha de nacimiento</label>
                    <input type="date" class="reg-form-item" name="fecha-acimiento" id="fecha_nacimiento" placeholder=""
                        required>
                    <input type="text" class="reg-form-item" name="domicilio" placeholder="domicilio" required>
                    <label class="reg-label reg-form-item">Contraseña</label>
                    <input type="password" class="reg-form-item" name="password" placeholder="contraseña" required>
                    <input type="password" class="reg-form-item" name="password_repeated"
                        placeholder="repetir contraseña" required>

                    <button type="submit" class="reg-form-item btn-submit">Enviar</button>
                    <button type="reset" class="reg-form-item btn-reset">Limpiar</button>

                </form>


            </main>


            <!-- ***** Hasta acá se puede EDITAR ***** -->

        </div>


        <%- include('../partials/footer') %>

    </div>

</body>

</html>