<!DOCTYPE html>
<html>

    <%- include('../partials/head') %>


<body>

    <!-- No tocar -->


    <div class="page-container">

        <%- include('../partials/header') %>

        <div class="main-content">
            <!-- No tocar hasta acá -->


            <!-- ***** Esta parte se DEBE EDITAR ***** -->

            <main>

                <% if (locals && locals.user && !locals.readOnly) { %>
                    <!-- Si hay un usuario, se hace PUT: -->
                    <form action="/user/<%= user.id %>?_method=PUT" method="POST" class="reg-form">
                <% } else {%>
                        <!-- Si no hay usuario, se hace POST -->
                        <% if (locals && locals.backToList) {%>
                            <form action="/user/created" method="POST" class="reg-form">
                        <% } else { %>
                            <form action="/user" method="POST" class="reg-form">
                        <% } %>
                <% } %>


                    <% if (locals && locals.user) { %>

                        <% if (locals.readOnly) { %>
                            <h1>Tus datos</h1>
                        <% } else {%>
                            <h1>Modificá tus datos</h1>
                        <% } %>


                    <% }  else { %>
                        <h1>Creá tu cuenta</h1>
                    <% } %>
                    

                    <input type="text" class="reg-form-item" name="apellido" placeholder="Nombre y apellido" value = "<%= locals.user && user.apellido %>" <% if (locals && locals.readOnly) {%> readonly <% } %>  required >
                    <input type="email" class="reg-form-item" name="email" placeholder="E-Mail"  value = "<%= locals.user && user.email %>"  required>
                    <label class="reg-label reg-form-item" for="fecha_nacimiento">Fecha de nacimiento</label>
                    <input type="date" class="reg-form-item" name="fecha_nacimiento" id="fecha_nacimiento" placeholder=""
                            value = "<%= locals.user && user.fecha_nacimiento %>"  required>
                    <input type="text" class="reg-form-item" name="domicilio" placeholder="domicilio"  value = "<%= locals.user && user.domicilio %>" required>
                    

                    <% if (!locals.readOnly) { %>
                        <label class="reg-label reg-form-item">Contraseña</label>

                        <% if (locals && locals.user) { %>
                            <p>(Dejar vacío para no modificar)</p>
                        <% }  %>
                        <input type="password" class="reg-form-item" name="password" placeholder="contraseña" required>
                        <input type="password" class="reg-form-item" name="password_repeated"
                        placeholder="repetir contraseña" required>

                        <button type="submit" class="reg-form-item btn-submit">Enviar</button>                      
                        <button type="reset" class="reg-form-item btn-reset">Limpiar</button>
                    <% } %>

                </form>


            </main>


            <!-- ***** Hasta acá se puede EDITAR ***** -->

        </div>


        <%- include('../partials/footer') %>

    </div>

</body>

</html>