<!DOCTYPE html>
<html>

    <%- include('../partials/head') %>


<body>

    <!-- No tocar -->


    <div class="page-container">

        <%- include('../partials/header') %>

        <div class="main-content">
            <!-- No tocar hasta acá -->


            <!-- ***** Esta parte se DEBE EDITAR ***** -->

            <main>
               

                <% if (locals && locals.user && !locals.readOnly) { %>
                    <!-- Si hay un usuario, se hace PUT: -->
                    <form action="/user/<%= user.id %>?_method=PUT" method="POST" class="reg-form" enctype="multipart/form-data">
                <% } else {%>
                        <!-- Si no hay usuario, se hace POST -->
                        <% if (locals && locals.backToList) {%>
                            <form action="/user/created" method="POST" class="reg-form" enctype="multipart/form-data">
                        <% } else { %>
                            <form action="/user" method="POST" class="reg-form" enctype="multipart/form-data">
                        <% } %>
                <% } %>


                    <% if (locals && locals.user) { %>

                        <% if (locals.readOnly) { %>
                            <h1>Tus datos</h1>
                        <% } else {%>
                            <h1>Modificá tus datos</h1>
                        <% } %>


                    <% }  else { %>
                        <h1>Creá tu cuenta</h1>
                    <% } %>
                    
                 
                    <ul id="errores"> </ul>
                       

                    <input type="text" class="reg-form-item" name="firstName" id="firstName" placeholder="Nombre" value = "<%= (locals.user && user.firstName) || (locals.old && old.firstName) %>" <% if (locals && locals.readOnly) {%> readonly <% } %>   >
                    <% if(locals.errors && errors.firstName) {%>
                        <p class="reg-error"><%= errors.firstName.msg %> </p>
                    <% }%>

                    <input type="text" class="reg-form-item" name="lastName" id="lastName" placeholder="Apellido" value = "<%= (locals.user && user.lastName) || locals.old && old.lastName %>" <% if (locals && locals.readOnly) {%> readonly <% } %>  >
                    <% if(locals.errors && errors.lastName) {%>
                        <p class="reg-error"><%= errors.lastName.msg %> </p>
                    <% }%>
                    
                    <input type="email" class="reg-form-item" name="email" id="email" placeholder="E-Mail"  value = "<%= (locals.user && user.email) || (locals.old && old.email) %>" <% if (locals && locals.readOnly) {%> readonly <% } %> >
                    <% if(locals.errors && errors.email) {%>
                        <p class="reg-error"><%= errors.email.msg %> </p>
                    <% }%>
                    
                    <label class="reg-label reg-form-item" for="birthDate" name="birthDate1">Fecha de nacimiento</label>
                    <input type="date" class="reg-form-item" name="birthDate" id="birthDate" placeholder=""
                            value = "<%= (locals.user && user.birthDate) || (locals.old && old.birthDate) %>" >
                    <% if(locals.errors && errors.birthDate) {%>
                        <p class="reg-error"><%= errors.birthDate.msg %> </p>
                    <% }%>
                    
                    <input type="text" class="reg-form-item" name="address" id="address" placeholder="domicilio"  value = "<%= (locals.user && user.address) || (locals.old && old.address) %>" <% if (locals && locals.readOnly) {%> readonly <% } %> >
                    <% if(locals.errors && errors.address) {%>
                        <p class="reg-error"><%= errors.address.msg %> </p>
                    <% }%>

                    <label for="avatar" class="reg-label reg-form-item">Avatar</label>
                    <% if (locals.user && user.avatar) { %> 
                        <img class="profile-img" name="imgprofile" src="/img/users_avatars/<%= user.avatar %>">
                    <% } %>
                    <input type="file" id="avatar" name="avatar" id="avatar" class="reg-form-item"><br>
                    <% if(locals.errors && errors.avatar) {%>
                        <p class="reg-error"><%= errors.avatar.msg %> </p>
                    <% }%>
						

                    <% if (!locals.readOnly) { %>
                        <label class="reg-label reg-form-item">Contraseña</label>

                        <% if (locals && locals.user) { %>
                            <p>(Dejar vacío para no modificar)</p>
                        <% }  %>
                        <input type="password" class="reg-form-item" name="password" id="password" placeholder="Contraseña" <% if (!locals.user) {%> required <% } %>>
                        <% if(locals.errors && errors.password) {%>
                            <p class="reg-error"><%= errors.password.msg %> </p>
                        <% }%>
                        <input type="password" class="reg-form-item" name="password_repeated" id="password_repeated"
                        placeholder="repetir contraseña" <% if (!locals.user) {%> required <% } %>>

                        <button type="submit" class="reg-form-item btn-submit">Enviar</button>                      
                        <button type="reset" class="reg-form-item btn-reset">Limpiar</button>
                    <% } %>

                </form>


            </main>


            <!-- ***** Hasta acá se puede EDITAR ***** -->

        </div>


        <%- include('../partials/footer') %>

    </div>

 <script src="/js/register.js"></script>

</body>

</html>
