	<!DOCTYPE html>
<html>

	<title>Saints of Bath - Checkout</title>


	<!-- Link CSS -->


	<link rel="stylesheet" type="text/css" href="/css/stylecarrito.css">
	
	<!-- link a la tipografía -->
	
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,900" rel="stylesheet">


<%- include('../partials/head') %>



<body>

	<!-- header -->
	
	<%- include('../partials/header') %>


   <div class="CartContainer">
   	   <div class="Header">
   	   	<h3 class="Heading">Carro de Compras</h3>
   	   	<h5 class="quitartodo">Quitar todo</h5>
   	   </div>
 
	   <!-- Verificar si hay productos -->
	    <% if (!locals.products || locals.products.length == 0) { %>
			<!-- Si no hay, mostrar mensaje -->
			<h1>Agrega productos a tu carrito</h1>
			<a href="/">Ir a comprar</a>

		<% } else { %>

			<!-- Si hay productos, mostrar el listado -->
			<% products.forEach( product => { %>

				<div class="Cart-Items">
					<a href="/product/<%= product.id %>/productDetail" class="image-box">
						<img src="/img/<%= product.image %>" style={{ height="120px" }} />
					</a>
					<div class="about">
						<h1 class="title"><%= product.name %></h1>
						<h3 class="subtitle">Color: <%= product.color %> Talle: <%= product.size %></h3>
						<img src="/img/disponible.png" style={{ height="30px" }}/>
					</div>

					<!-- botones de + y - para sumar respectiva cant de productos -->
					<div class="sumaresta">
						<div class="btn">-</div>
						<div class="count">1</div>
						<div class="btn">+</div>
					</div>

					<!-- precio , codigo de descuento y simbolo de quitar articulo -->
					<div class="prices">
						<div class="amount">$<%= product.price %></div>
						<div class="save"><u>Aplicar Codigo de descuento</u></div>
						<div class="remove"><u>Quitar</u></div>
					</div>
				</div>	

			<%  } ) %>

		
		<% } %>

   	   

	 <!-- sección de checkout con el total de la compra , cantidad de articulos , y boton para realizar el checkout. -->
   	 <div class="checkout">
   	 <div class="total">
   	 	<div>
   	 		<div class="Subtotal">Total</div>
   	 		<div class="items"> <%= products.length %> articulos</div>
   	 	</div>
			<% { let total = 0; products.forEach((product) => total += product.price); %>
   	 	<div class="total-amount">$<%= total %></div>
		<% }%>
   	 </div>
   	 <button class="button">Realizar Checkout</button></div>
   </div>
   
   <%- include('../partials/footer') %>
   
   
</body>
</html>
