<!DOCTYPE html>
<html>

<%- include('../partials/head') %>

    <body>

        <!-- No tocar -->


        <div class="page-container">

            <%- include('../partials/header') %>

                <div class="main-content">
                    <!-- No tocar hasta acá -->


                    <!-- ***** Esta parte se DEBE EDITAR ***** -->

                    <h1>Listado de Productos</h1>

                    <div class="product-list-list">
                        
                        <a href="/product/create"><i class="fa-solid fa-circle-plus"></i>Nuevo Producto</a>

                        <div class="product-list-container">
                            <h2 class="product-list-item product-list-title">Nombre</h2>
                            <h2 class="product-list-item product-list-title">Modelo</h2>
                            <h2 class="product-list-item product-list-title">Categoría</h2>
                            <h2 class="product-list-item product-list-title">Descripción</h2>
                            <h2 class="product-list-item product-list-title">Imagen</h2>
                            <h2 class="product-list-item product-list-title">Ver</h2>
                            <h2 class="product-list-item product-list-title">Editar</h2>
                            <h2 class="product-list-item product-list-title">Eliminar</h2>
                        </div>
                    
                    <!-- Acá va el listado con EJS, pero me da error -->
                    <% products.forEach( product => { %> 
                        <!-- <div class="product-list-container"> -->
                        <form class="product-list-container" action="/product/<%= product.id %>?_method=DELETE" method="POST">
                            <span class="product-list-item"><%= product.name %></span>    
                            <span class="product-list-item"><%= product.model %></span>    
                            <span class="product-list-item"><%= product.Category.name %></span>    
                            <span class="product-list-item"><%= product.description %></span>    
                            <!-- <span class="product-list-item"><%= product.image%></span>     -->
                            <img class="product-list-item" src="/img/products/<%= product.image%>" alt="Imagen"></span>    
                            <a href="/product/<%= product.id %>/productDetail"  class="product-list-item"><i class="fa-solid fa-magnifying-glass"></i></a>    
                            <a href="/product/<%= product.id %>/edit"  class="product-list-item"><i class="fa-solid fa-pen-to-square"></i></a>    
                            <button type="submit" class="product-list-item product-list-button"><i class="fa-solid fa-trash"></i></button>
                        </form>
                        <!-- </div> -->
                    <% }) %>

                    </div>
                    <!-- ***** Hasta acá se puede EDITAR ***** -->

                </div>


                <%- include('../partials/footer') %>
        </div>

    </body>

</html>